openapi: 3.2.0
info:
  title: SCE DRPEP ArcGIS REST Services Server API
  version: '11.1'
  summary: Anonymous, key-free Esri ArcGIS REST interface behind Southern California Edison's Distribution Resources Plan External Portal (DRPEP).
  description: 'Machine-readable description of the anonymous grid-data API that Southern California Edison serves at `drpep.sce.com`. SCE publishes **no** OpenAPI, no developer portal, and no written API reference for this surface; this document was generated by API Evangelist from live, unauthenticated probes of the service itself (ArcGIS Enterprise 11.1 REST, `f=json`) on 2026-07-27 and from the service, layer, and field descriptors saved verbatim under `arcgis/` in this repository. Every path, parameter, and example below was observed answering anonymously with HTTP 200 - nothing here is aspirational.


    The catalog exposes 15 hosted FeatureServers covering 47 feature layers and 11 tables: Integration Capacity Analysis (ICA) circuit segments and their generation/load constraint layers, distribution circuits, substations, the Distribution Deferral Opportunity Report (DDOR), the Grid Needs Assessment (GNA), Locational Net Benefit Analysis (LNBA), Public Safety Power Shutoff (PSPS) boundaries, CPUC fire-threat tiers, transmission projects, available-load and subtransmission heat maps, and load-growth penetration. The ICA circuit-segment layer alone answers 676,467 features.


    Read-only: every hosted service advertises `capabilities: Query` (DRP_Transmission_Projects also allows `Extract`). There is no write surface, no API key, and no rate-limit header. The sibling `Utilities` folder on the same server is NOT open - it returns `{"error":{"code":499,"message":"Token Required"}}`.


    This spec does not cover SCE Green Button Connect My Data. That interface is real and mandated by CPUC tariff Rule 26, but SCE discloses no base URI, endpoint, or scope publicly; see `authentication/` and the repository review for what is actually known.'
  termsOfService: https://www.sce.com/terms-conditions
  contact:
    name: API Evangelist (generator of this description, not the API operator)
    url: https://apievangelist.com
  x-generated-by: api-evangelist enrichment pipeline
  x-generated-on: '2026-07-27'
  x-provenance: api-evangelist-generated from live anonymous probes; NOT published by Southern California Edison
  x-source-probes:
  - https://drpep.sce.com/arcgis_server/rest/info?f=json
  - https://drpep.sce.com/arcgis_server/rest/services?f=json
  - https://drpep.sce.com/arcgis_server/rest/services/Hosted?f=json
  - https://drpep.sce.com/arcgis_server/rest/services/Hosted/ICA_Layer/FeatureServer?f=json
  - https://drpep.sce.com/arcgis_server/rest/services/Hosted/ICA_Layer/FeatureServer/0?f=json
  - https://drpep.sce.com/arcgis_server/rest/services/Hosted/ICA_Layer/FeatureServer/0/query?where=1%3D1&returnCountOnly=true&f=json
servers:
- url: https://drpep.sce.com
  description: SCE Distribution Resources Plan External Portal (production, anonymous)
tags:
- name: Server
  description: ArcGIS Enterprise server metadata and the service catalog.
paths:
  /arcgis_server/rest/info:
    get:
      operationId: getServerInfo
      tags:
      - Server
      summary: Get ArcGIS Enterprise server info
      description: Returns the ArcGIS Enterprise version and token-service metadata for the DRPEP server. Note that `authInfo.isTokenBasedSecurity` is true even though the Hosted folder services answer anonymously - the flag describes the server, not the public sharing of those services.
      parameters:
      - name: f
        in: query
        required: false
        description: Response format. `json` (Esri JSON), `pjson` (pretty JSON), `geojson` (GeoJSON - verified supported on hosted feature layers), or `html` (the default ArcGIS REST Services Directory page). Always send `f=json` for machine use; without it the service returns HTML.
        schema:
          type: string
          enum:
          - json
          - pjson
          - geojson
          - html
          default: html
        example: json
      responses:
        '200':
          description: Server info document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerInfo'
              example:
                currentVersion: 11.1
                fullVersion: 11.1.0
                soapUrl: https://drpep.sce.com/arcgis_server/services
                secureSoapUrl: null
                owningSystemUrl: https://drpep.sce.com/arcgis_portal
                authInfo:
                  isTokenBasedSecurity: true
                  tokenServicesUrl: https://drpep.sce.com/arcgis_portal/sharing/rest/generateToken
  /arcgis_server/rest/services:
    get:
      operationId: listServiceCatalog
      tags:
      - Server
      summary: List the root service catalog
      description: 'Lists the folders and root-level services on the DRPEP ArcGIS server. Observed: two folders, `Hosted` (public) and `Utilities` (token-required), and no root services.'
      parameters:
      - name: f
        in: query
        required: false
        description: Response format. `json` (Esri JSON), `pjson` (pretty JSON), `geojson` (GeoJSON - verified supported on hosted feature layers), or `html` (the default ArcGIS REST Services Directory page). Always send `f=json` for machine use; without it the service returns HTML.
        schema:
          type: string
          enum:
          - json
          - pjson
          - geojson
          - html
          default: html
        example: json
      responses:
        '200':
          description: Catalog document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceCatalog'
              example:
                currentVersion: 11.1
                folders:
                - Hosted
                - Utilities
                services: []
  /arcgis_server/rest/services/Hosted:
    get:
      operationId: listHostedServices
      tags:
      - Server
      summary: List the public Hosted feature services
      description: Lists the 15 hosted FeatureServers DRPEP shares publicly. This is the entry point for any anonymous consumer of SCE grid data.
      parameters:
      - name: f
        in: query
        required: false
        description: Response format. `json` (Esri JSON), `pjson` (pretty JSON), `geojson` (GeoJSON - verified supported on hosted feature layers), or `html` (the default ArcGIS REST Services Directory page). Always send `f=json` for machine use; without it the service returns HTML.
        schema:
          type: string
          enum:
          - json
          - pjson
          - geojson
          - html
          default: html
        example: json
      responses:
        '200':
          description: Folder catalog with the hosted services.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceCatalog'
              example:
                currentVersion: 11.1
                folders: []
                services:
                - name: Hosted/AVL_LOAD_CAP_TOGGLE
                  type: FeatureServer
                - name: Hosted/AVL_LOAD_HEAT_MAP_TOGGLE
                  type: FeatureServer
                - name: Hosted/DDOR_Layer
                  type: FeatureServer
                - name: Hosted/Distribution_circuits
                  type: FeatureServer
                - name: Hosted/DRP_PSPS_Layer
                  type: FeatureServer
                - name: Hosted/DRP_ScreenL_08202021
                  type: FeatureServer
                - name: Hosted/DRP_Transmission_Projects
                  type: FeatureServer
                - name: Hosted/Firemap
                  type: FeatureServer
                - name: Hosted/GNA_Layer
                  type: FeatureServer
                - name: Hosted/ICA_Layer
                  type: FeatureServer
                - name: Hosted/ICA_Tables
                  type: FeatureServer
                - name: Hosted/LNBA_Layer
                  type: FeatureServer
                - name: Hosted/LOAD_GROWTH_PEN_HTMAP
                  type: FeatureServer
                - name: Hosted/MGEP_AVL_LOAD_HEAT_MAP
                  type: FeatureServer
                - name: Hosted/SUBTRANS_HEATMAP
                  type: FeatureServer
components:
  schemas:
    ServiceCatalog:
      type: object
      description: A folder listing of ArcGIS services.
      properties:
        currentVersion:
          type: number
        folders:
          type: array
          items:
            type: string
        services:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
                enum:
                - FeatureServer
                - MapServer
    ServerInfo:
      type: object
      description: ArcGIS Enterprise server metadata.
      properties:
        currentVersion:
          type: number
        fullVersion:
          type: string
        soapUrl:
          type: string
        secureSoapUrl:
          type:
          - string
          - 'null'
        owningSystemUrl:
          type: string
        authInfo:
          type: object
          properties:
            isTokenBasedSecurity:
              type: boolean
            tokenServicesUrl:
              type: string
externalDocs:
  description: DRPEP portal (Esri Experience Builder app over these services)
  url: https://drpep.sce.com/drpep/
x-drpep-inventory:
- service: AVL_LOAD_CAP_TOGGLE
  id: 0
  name: AVL_LOAD_CAP_FULL_SUBMITTAL
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 128
- service: AVL_LOAD_CAP_TOGGLE
  id: 1
  name: AVL_LOAD_CAP_FULL_AND_PARTIAL_SUBMITTAL
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 128
- service: AVL_LOAD_HEAT_MAP_TOGGLE
  id: 0
  name: GRID_RANK_AGGR_FULL
  kind: layer
  geometryType: esriGeometryPolygon
  fieldCount: 6
- service: AVL_LOAD_HEAT_MAP_TOGGLE
  id: 1
  name: GRID_RANK_AGGR_FULL_PARTIAL
  kind: layer
  geometryType: esriGeometryPolygon
  fieldCount: 6
- service: DDOR_Layer
  id: 0
  name: DDOR Substations
  kind: layer
  geometryType: esriGeometryPoint
  fieldCount: 33
- service: DDOR_Layer
  id: 1
  name: DDOR Subtransmission
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 33
- service: DDOR_Layer
  id: 2
  name: DDOR - Circuits
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 36
- service: DDOR_Layer
  id: 3
  name: DDOR FGDB DATE TIME
  kind: table
  geometryType: null
  fieldCount: 3
- service: DRP_PSPS_Layer
  id: 0
  name: PSPS_Subtransmission
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 14
- service: DRP_PSPS_Layer
  id: 1
  name: PSPS_Circuit
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 16
- service: DRP_ScreenL_08202021
  id: 0
  name: Sheet1
  kind: table
  geometryType: null
  fieldCount: 3
- service: DRP_Transmission_Projects
  id: 0
  name: CAISO_APPROVED_POLYGON
  kind: layer
  geometryType: esriGeometryPolygon
  fieldCount: 16
- service: DRP_Transmission_Projects
  id: 1
  name: UTILITY_APPROVED_POLYGON
  kind: layer
  geometryType: esriGeometryPolygon
  fieldCount: 16
- service: DRP_Transmission_Projects
  id: 2
  name: CPUC_APPROVED_POLYGON
  kind: layer
  geometryType: esriGeometryPolygon
  fieldCount: 16
- service: Distribution_circuits
  id: 0
  name: Distribution Circuits
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 11
- service: Firemap
  id: 0
  name: Tree_Mortality___Tier_1
  kind: layer
  geometryType: esriGeometryPolygon
  fieldCount: 10
- service: Firemap
  id: 1
  name: CPUC_Fire_Threat_Areas____Tier_2___Elevated
  kind: layer
  geometryType: esriGeometryPolygon
  fieldCount: 10
- service: Firemap
  id: 2
  name: CPUC_Fire_Threat_Areas____Tier_3___Extreme
  kind: layer
  geometryType: esriGeometryPolygon
  fieldCount: 10
- service: GNA_Layer
  id: 0
  name: GNA Substations
  kind: layer
  geometryType: esriGeometryPoint
  fieldCount: 31
- service: GNA_Layer
  id: 1
  name: GNA Subtransmission
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 25
- service: GNA_Layer
  id: 2
  name: GNA - Circuits
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 39
- service: GNA_Layer
  id: 3
  name: Circuit Level Planning Assumptions
  kind: table
  geometryType: null
  fieldCount: 23
- service: GNA_Layer
  id: 4
  name: GNA FGDB DATE TIME
  kind: table
  geometryType: null
  fieldCount: 3
- service: GNA_Layer
  id: 5
  name: Substation Level Planning Assumptions
  kind: table
  geometryType: null
  fieldCount: 20
- service: ICA_Layer
  id: 0
  name: ICA - Circuit Segments
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 29
- service: ICA_Layer
  id: 1
  name: ICA - Circuit Segments, Non-3 Phase
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 16
- service: ICA_Layer
  id: 2
  name: ICA - Generation Op Flex
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 17
- service: ICA_Layer
  id: 3
  name: ICA - Generation Protection
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 17
- service: ICA_Layer
  id: 4
  name: ICA - Generation Steady State Voltage
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 17
- service: ICA_Layer
  id: 5
  name: ICA - Generation Thermal
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 17
- service: ICA_Layer
  id: 6
  name: ICA - Generation Voltage Variation
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 17
- service: ICA_Layer
  id: 7
  name: ICA - Load Steady State Voltage
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 17
- service: ICA_Layer
  id: 8
  name: ICA - Load Thermal
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 17
- service: ICA_Layer
  id: 9
  name: ICA - Load Voltage Variation
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 17
- service: ICA_Layer
  id: 10
  name: ICA - Solar Op Flex
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 17
- service: ICA_Layer
  id: 11
  name: ICA - Solar PV Static Grid
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 17
- service: ICA_Layer
  id: 12
  name: ICA - Unavailable Circuit Segments
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 8
- service: ICA_Layer
  id: 13
  name: ICA - Uniform Generation Op Flex
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 17
- service: ICA_Layer
  id: 14
  name: ICA - Uniform Generation Static Grid
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 17
- service: ICA_Layer
  id: 15
  name: ICA - Uniform Load Static Grid
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 17
- service: ICA_Layer
  id: 16
  name: Substations
  kind: layer
  geometryType: esriGeometryPoint
  fieldCount: 14
- service: ICA_Layer
  id: 17
  name: RAM - Circuits
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 16
- service: ICA_Layer
  id: 18
  name: Transmission Circuits
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 6
- service: ICA_Layer
  id: 19
  name: SCE Service Territory
  kind: layer
  geometryType: esriGeometryPolygon
  fieldCount: 9
- service: ICA_Tables
  id: 0
  name: DRPEP_FGDB_DATE_TIME
  kind: table
  geometryType: null
  fieldCount: 3
- service: ICA_Tables
  id: 1
  name: Historical Circuit Load Profile
  kind: table
  geometryType: null
  fieldCount: 12
- service: ICA_Tables
  id: 2
  name: Historical Substation Load Profile
  kind: table
  geometryType: null
  fieldCount: 9
- service: ICA_Tables
  id: 3
  name: ICA Single Consolidated Table
  kind: table
  geometryType: null
  fieldCount: 26
- service: ICA_Tables
  id: 4
  name: Forecasted Circuit Load Profile
  kind: table
  geometryType: null
  fieldCount: 12
- service: LNBA_Layer
  id: 0
  name: DER Growth Scenario, Planning
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 10
- service: LNBA_Layer
  id: 1
  name: LNBA Short-term, Planning
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 23
- service: LNBA_Layer
  id: 2
  name: LNBA Mid-term, Planning
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 23
- service: LNBA_Layer
  id: 3
  name: LNBA Long-term, Planning
  kind: layer
  geometryType: esriGeometryPolyline
  fieldCount: 23
- service: LNBA_Layer
  id: 4
  name: LNBA_FGDB_DATE_TIME
  kind: table
  geometryType: null
  fieldCount: 3
- service: LOAD_GROWTH_PEN_HTMAP
  id: 0
  name: GRID_RANK_AGGR
  kind: layer
  geometryType: esriGeometryPolygon
  fieldCount: 5
- service: MGEP_AVL_LOAD_HEAT_MAP
  id: 0
  name: GRID_RANK_AGGR_FULL
  kind: layer
  geometryType: esriGeometryPolygon
  fieldCount: 6
- service: MGEP_AVL_LOAD_HEAT_MAP
  id: 1
  name: GRID_RANK_AGGR_FULL_PARTIAL
  kind: layer
  geometryType: esriGeometryPolygon
  fieldCount: 6
- service: SUBTRANS_HEATMAP
  id: 0
  name: Subtrans_heatmap
  kind: layer
  geometryType: esriGeometryPoint
  fieldCount: 19
